
/*
Board UI
*/

#space-view {
    -fx-background-image: url('img/empty.png');
    -fx-background-size: 100% 100%;
}

#energyspace-view {
    -fx-background-image: url('img/bolt.png');
    -fx-background-size: 100% 100%;
}

#priorityantenna-view {
    -fx-background-image: url('img/priorityantenna.png');
    -fx-background-size: 100% 100%;
}

#wallspaceWEST {
    -fx-background-image: url('img/wallspace2.png');
    -fx-background-size: 100% 100%;
}

#wallspaceEAST {
    -fx-background-image: url('img/wallspace4.png');
    -fx-background-size: 100% 100%;
}

#wallspaceSOUTH {
    -fx-background-image: url('img/wallspaceSOUTH.png');
    -fx-background-size: 100% 100%;
}

#wallspaceNORTH {
    -fx-background-image: url('img/wallspace3.png');
    -fx-background-size: 100% 100%;
}

#gearspaceleft-view {
    -fx-background-image: url('img/gearleft.png');
    -fx-background-size: 100% 100%;
}

#gearspaceright-view {
    -fx-background-image: url('img/gearright.png');
    -fx-background-size: 100% 100%;
}

#checkpoint1 {
    -fx-background-image: url('img/checkpoint.png');
    -fx-background-size: 100% 100%;
}

#checkpoint2 {
    -fx-background-image: url('img/checkpoint2.png');
    -fx-background-size: 100% 100%;
}

#checkpoint3 {
    -fx-background-image: url('img/checkpoint3.png');
    -fx-background-size: 100% 100%;
}

#checkpoint4 {
    -fx-background-image: url('img/checkpoint4.png');
    -fx-background-size: 100% 100%;
}

#checkpoint5 {
    -fx-background-image: url('img/checkpoint5.png');
    -fx-background-size: 100% 100%;
}

#checkpoint6 {
    -fx-background-image: url('img/checkpoint6.png');
    -fx-background-size: 100% 100%;
}

#blueEAST {
    -fx-background-image: url('img/blueEAST.png');
    -fx-background-size: 100% 100%;
}

#blueNORTH {
    -fx-background-image: url('img/blueNORTH.png');
    -fx-background-size: 100% 100%;
}

#blueSOUTH {
    -fx-background-image: url('img/blueSOUTH.png');
    -fx-background-size: 100% 100%;
}

#blueWEST {
    -fx-background-image: url('img/blueWEST.png');
    -fx-background-size: 100% 100%;
}

#blueTurnLeftEAST {
    -fx-background-image: url('img/blueTurnLeftEAST.png');
    -fx-background-size: 100% 100%;
}

#blueTurnLeftNORTH {
    -fx-background-image: url('img/blueTurnLeftNORTH.png');
    -fx-background-size: 100% 100%;
}

#blueTurnLeftSOUTH {
    -fx-background-image: url('img/blueTurnLeftSOUTH.png');
    -fx-background-size: 100% 100%;
}

#blueTurnLeftWEST {
    -fx-background-image: url('img/blueTurnLeftWEST.png');
    -fx-background-size: 100% 100%;
}

#blueTurnRightEAST {
    -fx-background-image: url('img/blueTurnRightEAST.png');
    -fx-background-size: 100% 100%;
}

#blueTurnRightNORTH {
    -fx-background-image: url('img/blueTurnRightNORTH.png');
    -fx-background-size: 100% 100%;
}

#blueTurnRightSOUTH {
    -fx-background-image: url('img/blueTurnRightSOUTH.png');
    -fx-background-size: 100% 100%;
}

#blueTurnRightWEST {
    -fx-background-image: url('img/blueTurnRightWEST.png');
    -fx-background-size: 100% 100%;
}

#greenEAST {
    -fx-background-image: url('img/greenEAST.png');
    -fx-background-size: 100% 100%;
}

#greenNORTH {
    -fx-background-image: url('img/greenNORTH.png');
    -fx-background-size: 100% 100%;
}

#greenSOUTH {
    -fx-background-image: url('img/greenSOUTH.png');
    -fx-background-size: 100% 100%;
}

#greenWEST {
    -fx-background-image: url('img/greenWEST.png');
    -fx-background-size: 100% 100%;
}

#greenTurnLeftEAST {
    -fx-background-image: url('img/greenTurnLeftEAST.png');
    -fx-background-size: 100% 100%;
}

#greenTurnLeftNORTH {
    -fx-background-image: url('img/greenTurnLeftNORTH.png');
    -fx-background-size: 100% 100%;
}

#greenTurnLeftSOUTH {
    -fx-background-image: url('img/greenTurnLeftSOUTH.png');
    -fx-background-size: 100% 100%;
}

#greenTurnLeftWEST {
    -fx-background-image: url('img/greenTurnLeftWEST.png');
    -fx-background-size: 100% 100%;
}

#greenTurnRightEAST {
    -fx-background-image: url('img/greenTurnRightEAST.png');
    -fx-background-size: 100% 100%;
}

#greenTurnRightNORTH {
    -fx-background-image: url('img/greenTurnRightNORTH.png');
    -fx-background-size: 100% 100%;
}

#greenTurnRightSOUTH {
    -fx-background-image: url('img/greenTurnRightSOUTH.png');
    -fx-background-size: 100% 100%;
}

#greenTurnRightWEST {
    -fx-background-image: url('img/greenTurnRightWEST.png');
    -fx-background-size: 100% 100%;
}

#pushEvenEAST {
    -fx-background-image: url('img/push24EAST.png');
    -fx-background-size: 100% 100%;
}

#pushEvenNORTH {
    -fx-background-image: url('img/push24NORTH.png');
    -fx-background-size: 100% 100%;
}

#pushEvenSOUTH {
    -fx-background-image: url('img/push24SOUTH.png');
    -fx-background-size: 100% 100%;
}

#pushEvenWEST {
    -fx-background-image: url('img/push24WEST.png');
    -fx-background-size: 100% 100%;
}

#pushUnevenEAST {
    -fx-background-image: url('img/push135EAST.png');
    -fx-background-size: 100% 100%;
}

#pushUnevenNORTH {
    -fx-background-image: url('img/push135NORTH.png');
    -fx-background-size: 100% 100%;
}

#pushUnevenSOUTH {
    -fx-background-image: url('img/push135SOUTH.png');
    -fx-background-size: 100% 100%;
}

#pushUnevenWEST {
    -fx-background-image: url('img/push135WEST.png');
    -fx-background-size: 100% 100%;
}

#pitfall {
    -fx-background-image: url('img/hole.png');
    -fx-background-size: 100% 100%;
}

#respawnPoint {
    -fx-background-image: url('img/respawn.png');
    -fx-background-size: 100% 100%;
}

#startField {
    -fx-background-image: url('img/startField.png');
    -fx-background-size: 100% 100%;
}




/*
UI for menus
*/

#main-window {
    -fx-background-image: url('img/startpage.png');
    -fx-effect: innershadow( gaussian, gray, 10, 0, 0, 0);
    -fx-background-size: 100% 100%;
}


#menuBar-view {
    -fx-background-color: lightgray;
}





/*
WINNER UI
*/
#winner-view {
    -fx-background-image: url('img/Winnersview.gif');
    -fx-background-size:100% 100%;
    -fx-min-height:400px;
    -fx-min-width:400px;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-font-size: 40;
}



/*
Board UI (subject to change)
*/

#board-view {
    -fx-background-image: url('img/mainview.png');
    -fx-background-size: 100% 100%;
}





/*
Player Robots assets
*/

#player-image-red {
    -fx-background-image: url('img/blueplayer.png');
    -fx-background-size: 100% 100%;
}






/*
Cards UI
*/

#card-Fwd {
    -fx-background-image: url('img/fwd.png');
    -fx-background-size: 100% 100%;
}

#card-2xFwd {
    -fx-background-image: url('img/2xfwd.png');
    -fx-background-size: 100% 100%;
}

#card-3xFwd {
    -fx-background-image: url('img/3xfwd.png');
    -fx-background-size: 100% 100%;
}

#card-FastFwd {
    -fx-background-image: url('img/fastforward.png');
    -fx-background-size: 100% 100%;
}



#card-TurnLeft {
    -fx-background-image: url('img/TurnLeft.png');
    -fx-background-size: 100% 100%;
}

#card-TurnRight {
    -fx-background-image: url('img/TurnRight.png');
    -fx-background-size: 100% 100%;
}


#card-Uturn {
    -fx-background-image: url('img/UTurn.png');
    -fx-background-size: 100% 100%;
}

#card-Bwd {
    -fx-background-image: url('img/Bwd.png');
    -fx-background-size: 100% 100%;
}

#card-Prvscommnd {
    -fx-background-image: url('img/prvscommnd.png');
    -fx-background-size: 100% 100%;
}


#card-LeftORRight {
    -fx-background-image: url('img/leftorright.png');
    -fx-background-size: 100% 100%;
}

#card-PowerUp {
    -fx-background-image: url('img/PowerUp.png');
    -fx-background-size: 100% 100%;
}

